.globe-icon{
    width: 28px;
    height: 28px;
}

.nav-title {
    font-weight: 500;
    font-size: 15px;
    padding-left: 7px;
    letter-spacing: 1px;
  }

  .navbar{
    width: 550px;
    height: 55px;
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }